﻿@using Retailer.WebUi.Models.Home
@model Retailer.WebUi.Models.Home.IndexViewModel

@{
    ViewBag.Title = "Products available for rent";
}

<div class="row">
    <div class="col-md-8">

        @if (Model.Products.Any())
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ProductModel product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.ProductType</td>
                            @using (Html.BeginForm("AddItemToCart", "Cart", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <td>

                                    <input type="hidden" name="@nameof(AddItemToCartPostModel.ReturnUrl)" value="@Request.RawUrl" />
                                    <input type="hidden" name="@nameof(AddItemToCartPostModel.ProductId)" value="@product.Id" />

                                    <span>
                                        Rent for
                                        <input type="number" name="@nameof(AddItemToCartPostModel.RentPeriodInDays)" class="input-sm" min="1" max="100" />
                                        days
                                    </span>
                                </td>

                                <td>
                                    <input type="submit" class="btn btn-sm btn-default" value="Add to cart" />
                                </td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">

                <span class="glyphicon glyphicon-info-sign"></span>

                <strong>Whoops!</strong> Our warehouse is empty! Please try again later.
            </div>
        }

    </div>
</div>