﻿@using Retailer.WebUi.Models.Cart
@model Retailer.WebUi.Models.Cart.IndexViewModel

@{
    ViewBag.Title = "My cart";
}

<div class="row">
    <div class="col-md-8">

        @if (Model.CartItems.Any())
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Type</th>
                        <th>Rent period in days</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (CartItemModel cartItemModel in Model.CartItems)
                {
                        <tr>
                            <td>@cartItemModel.ProductName</td>
                            <td>@cartItemModel.ProductType</td>
                            <td>@cartItemModel.RentPeriodInDays</td>
                        </tr>
                    }

                </tbody>
            </table>


            using (Html.BeginForm("ConfirmCart", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="returnUrl" value="@Request.RawUrl" />

                <div class="form-group">
                    <label class="col-sm-2 control-label">Cart status:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.CartStatusInfo</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Invoice:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">

                            @if (Model.IsCartConfirmed)
                            {
                                @Html.ActionLink("Download", "DownloadInvoiceInPlainText", "Invoice", new
                           {
                               CartId = Model.CartId
                           }, null)
                            }

                        </p>
                    </div>
                </div>

                if (!Model.IsCartConfirmed)
                {
                    <input type="submit" class="btn btn-primary" value="Confirm cart" />
                }
            }
        }
        else
        {
            <div class="alert alert-warning">

                <span class="glyphicon glyphicon-info-sign"></span>

                You cart is empty.
            </div>
        }

    </div>
</div>