﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Bondora renting app", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>


            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("My cart", "Index", "Cart")</li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="~/Elmah">Application errors</a></li>
            </ul>

        </div>
    </div>
    <div class="container body-content">

        <h2>@ViewBag.Title</h2>

        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Bondora renting app</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
